.button {
  padding: 8px 30px;
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
.button:hover {
  border-color: #555bda;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.accent {
  background: #312eb5;
}
